

	<div class="clearfix"></div>
	<div class="question-details">
    <span class="<%= question.status == 'open' ? 'question-answered' : 'question-answered question-answered-done' %>"><i
      class="<%= question.status == 'open' ? 'icon-edit' : 'icon-ok'   %>">
    </i><%= t "statuses.#{question.status}" %>
    </span>
		<span class="question-favorite"><i class="icon-star"></i><%= question.analytics.upvotes - question.analytics.downvotes %></span>
	</div>
	<span class="question-date"><i class="icon-time"></i><%= time_ago_in_words question.created_at %></span>
	<span class="question-comment"><a href="#"><i class="icon-comment"></i><%= question.answers.count %> Respostas</a></span>
	<span class="question-view"><i class="icon-user"></i><%= question.analytics.visualizations %> visualizações</span>
	<div class="clearfix"></div>
