

	<div class="clearfix"></div>
	<div class="question-details">
    <span class="<%= question.status == 'open' ? 'question-answered' : 'question-answered question-answered-done' %>"><i
      class="<%= question.status == 'open' ? 'icon-edit' : 'icon-ok'   %>">
    </i><%= t "statuses.#{question.status}" %>
    </span>
		<span class="question-favorite"><i class="<%= question.calculate_favorites > 0 ? 'icon-star' : 'icon-star-empty' %>"></i><%= question.calculate_favorites %></span>
	</div>
	<span class="question-date"><i class="icon-time"></i><%= time_ago_in_words question.created_at %></span>
	<span class="question-comment"><a href="#"><i class="icon-comment"></i><%= question.answers.count %> Respostas</a></span>
	<span class="question-view"><i class="icon-user"></i><%= question.analytics.visualizations %> visualizações</span>

	<a id="<%= question._id %>#upvote" href="" title="Like" style=" font-size: 14px; margin-left: 15px" onClick="upvote(id)">
		<%= question.analytics.upvotes %>
		<i class="icon-thumbs-up"> </i>
		<i class="fa fa-thumbs-o-up"></i>
	</a>

	<a href="" id="<%= question._id %>#downvote" title="Dislike" style="margin: 0px 8px; font-size: 14px" onClick="downvote(id)">
		<%= question.analytics.downvotes %>
		<i class="icon-thumbs-down"> </i>
		<i class="fa fa-thumbs-o-down"></i>
	</a>

	<div class="clearfix"></div>

	<script type="text/javascript">
			function upvote(id)
			{
				id = id.split("#")[0];
					$.ajax({
						type: "GET",
						dataType: "json",
						data: {_id: id},
						url: "/questions/"+ id +"/upvote",
						success: function(data){
							console.log(data);
							if(data.sucess) {
								var a = document.getElementById(id+"#upvote");
								a.innerHTML = data.upvotes + " <i class=\"icon-thumbs-up\"> </i> <i class=\"fa fa-thumbs-o-up\"></i>"
							}
						},
						error: function(data) {
							window.location = "/login";
						}
				});
			}

			function downvote(id)
			{
				id = id.split("#")[0];
					$.ajax({
						type: "GET",
						dataType: "json",
						data: {_id: id},
						url: "/questions/"+ id +"/downvote",
						success: function(data){
							console.log(data);
							if(data.sucess) {
								var a = document.getElementById(id+"#downvote");
								a.innerHTML = data.downvotes + " <i class=\"icon-thumbs-down\"> </i> <i class=\"fa fa-thumbs-o-down\"></i>"
							}
						},
						error: function(data) {
								window.location = "/login";
						}
				});
			}
	</script>
