<div data-ng-show="isSelected(1)" class="tab-inner" id="last_published_section">

  <% questions.each do |question| %>
    <article class="question question-type-normal">
    	<h2>
        <%= link_to truncate(question.title, length: 30), question %>
    	</h2>

    	<a class="question-report" href="#">Denunciar</a>
      <%= render "users/minicard", question: question %>
    	<div class="question-inner">
    		<div class="clearfix"></div>
    		<div class="question-details">
    			<span class="<%= question.status == 'open' ? 'question-answered' : 'question-answered question-answered-done' %>"><i
            class="<%= question.status == 'open' ? 'icon-edit' : 'icon-ok'   %>">
          </i><%= t "statuses.#{question.status}" %>
          </span>

        	<span class="question-favorite"><i class="icon-star"></i><%= question.analytics.upvotes %></span>
    		</div>
    		<span class="question-date"><i class="icon-time"></i><%= time_ago_in_words question.created_at %></span>
    		<span class="question-comment">
          <%= link_to question_path(question) + "#question-answers-title" do %>
            <i class="icon-comment"></i><%= question.answers.count %> Respostas
          <% end %>
        </span>

        <span class="question-view"><i class="icon-user"></i><%= question.analytics.visualizations %> visualizações</span>
    		<div class="clearfix"></div>
    	</div>
    </article>


  <% end %>
  <!--Here is the command to paginate-->
  <%= paginate questions,:remote => true%>
</div>
