<script type="text/javascript" src="/assets/controllers/questionsController.js"></script>

<% unless user_signed_in? %>
  <%= render "shared/welcome" %>
<% end %>

<<<<<<< HEAD
<section class="container main-content" data-ng-controller="QuestionsController">
  <div class="row" style="margin-top: 26px">
    <div class="col-md-9">
      <div class="tabs-warp question-tab">
        <%= render "shared/tabs" %>

        <div class="tab-inner-warp" style="display: block;">

        <%= render "last_published_section", questions: @last_questions %>
        <%= render "popular_section", questions: @upvotes_questions  %>
        <%= render "most_viewed_section", questions: @visualizations_questions  %>
				</div>
      </div>
    </div>

    <aside class="col-md-3 sidebar">
      <div class="widget">
					<h3 class="widget_title">Questões Recentes</h3>
					<ul class="related-posts">
						<li class="related-item">
							<h3><a href="#">Qual a temperatura do Sol?</a></h3>
							<p>Alguns dizem que tem temperatura infinita</p>
							<div class="clear"></div><span>22 Fev, 2014</span>
						</li>
						<li class="related-item">
							<h3><a href="#">Fórmula da acelaração?</a></h3>
							<p>Ainda não aprendi, mas queria adiantar o assunto em casa.</p>
							<div class="clear"></div><span>21 Fev, 2014</span>
						</li>
					</ul>
				</div>
    </aside>
  </div>
</section>
