<script type="text/javascript" src="/assets/controllers/searchController.js"></script>

<section class="container main-content" data-ng-controller="SearchController">
  <div class="row" style="margin-top: 26px">
    <div class="col-md-9">
      <div class="tabs-warp question-tab">
        <%= render "shared/search_tabs" %>

        <div class="tab-inner-warp" style="display: block;">
          <%= render "last_published_section", questions: @questions %>
          <%= render "search_answers", answers: @answers %>
          <%= render "search_disciplines", disciplines: @disciplines %>
          <%= render "search_tags", tags: @tags %>
          <%= render "search_users", users: @users %>
        </div>
      </div>
    </div>
  </div>
</section>
