<div class="breadcrumbs">
	<section class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Cadastro</h1>
			</div>
			<div class="col-md-12">
				<div class="crumbs">
					<a href="#">Home</a>
					<span class="crumbs-span">/</span>
					<span class="current">Cadastro</span>
				</div>
			</div>
		</div><!-- End row -->
	</section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content">
	<div class="row">
		<div class="col-md-9">
			<div class="page-content">
				<div class="boxedtitle page-title"><h2>Cadastro </h2></div>

				<div class="form-style form-style-4">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
						<div class="form-inputs clearfix">
							<p>
								<%= f.label :name %>
								<%= f.text_field :name, autofocus: true %>
							</p>

							<p>
								<%= f.label :email %>
								<%= f.text_field :email, autofocus: true %>
							</p>

							<p>
								<%= f.label :password, style:"display:inline" %>
                   <% if @validatable %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                   <% end %>
								<%= f.password_field :password, autocomplete: "off" %>
							</p>

							<p>
								<%= f.label :password_confirmation %>
								<%= f.password_field :password_confirmation, autocomplete: "off" %>
							</p>

						<br style="clear:both" />
						<h3 style="margin-top: 20px; clear:both;"> Escolha seu tipo de cadastro: </h3>
						
						<div id="role-radios">
							<label id="student-radio"> <%= radio_button_tag(:role, "student", checked = 'checked') %> <span> Sou um aluno </span> </label>
							
							<label id="teacher-radio">  <%= radio_button_tag(:role, "teacher") %> <span> Sou um professor </span> </label>
						</div>
						
						<div id="student-fields">
							<div class="row">
									<div class="col-xs-8">
										<p style="width: 100%;">
											<label>Curso desejado</label>
											<%= f.text_field :desired_course, autofocus: true %>
										</p>
									</div>
									<div class="col-xs-4">
										<p  style="width: 100%;">
											<label style="text-align: left;" >Ano</label>
											<%= f.text_field :school_year, autofocus: true %>
										</p>
									</div>
									<div class="col-xs-12">
								<p  style="width: 100%;">
									<label>Colégio</label>
									<%= f.text_field :current_school, autofocus: true %>
								</p>
								</div>
								</div>
						</div>
						
						<div id="teacher-fields">
						
							  <div style="display:block;">
										<label>Instituiçõe de Ensino</label>
									    <div id="dynamicInput"></div>

									    <input style="margin-top: 10px; float:none; background-color: #A0A19E" type="button" class="button color small login-submit submit" value="Adicionar instituição de ensino" onclick="addInput('dynamicInput');" />

								</div>
								<div>
									<label style="margin:15px 0px 5px 0px; display:block">Disciplinas lecionadas</label>
									<div class="row" id="register-courses">
		  								 <div class="col-xs-3">
									      <label><input type="checkbox" value="">Matemática</label>
									    </div>
									    <div class="col-xs-3">
									      <label><input type="checkbox" value="">Português</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Física</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Química</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Inglês</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Biologia</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Geografia</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Sociologia</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Redação</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >História</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Literatura</label>
									    </div>
									    <div class="col-xs-3" >
									      <label><input type="checkbox" value="" >Espanhol</label>
									    </div>

									</div>

								</div>
						
						</div>

						</div>
						<p class="form-submit">
							<input type="submit" style="margin-top: 15px" value="Registrar" class="button color small login-submit submit">
						</p>
					<% end %>
				</div>
			</div><!-- End page-content -->
		</div><!-- End main -->
		<aside class="col-md-3 sidebar">

			<div class="widget">
				<h3 class="widget_title">Precisa de ajuda?</h3>
				<p>Leia a nossa seção de <a href="#">Perguntas Mais Frequentes</a> caso possua alguma dúvida sobre a plataforma.</p>
			</div>

		</aside><!-- End sidebar -->
	</div><!-- End row -->
</section><!-- End container -->

<script type="text/javascript">

function addInput(divName) {
    var input = document.createElement('input');
    input.setAttribute('type', 'text');
    input.setAttribute('id', 'inputInstituicao');
    input.setAttribute('placeholder', 'Adicione a instituição de ensino');
    var remove = document.createElement('span');
    remove.setAttribute('class', 'glyphicon glyphicon-remove');

    document.getElementById(divName).appendChild(input);
    input.appendChild(remove);

}

$(document).ready(function(){
	
	addInput('dynamicInput');
	
	$("#role-radios input").on('change', function(event) {
      	if (this.value == 'student') {
            $("#student-fields").show();
			$("#teacher-fields").hide();
        }
        else if (this.value == 'teacher') {
            $("#teacher-fields").show();
			$("#student-fields").hide();
        }
    });
	
	$("#student-radio input").trigger("change");

})

</script>