<div class="breadcrumbs">
	<section class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Cadastro</h1>
			</div>
			<div class="col-md-12">
				<div class="crumbs">
					<a href="#">Home</a>
					<span class="crumbs-span">/</span>
					<span class="current">Cadastro</span>
				</div>
			</div>
		</div><!-- End row -->
	</section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content">
	<div class="row">
		<div class="col-md-9">
			<div class="page-content">
				<div class="boxedtitle page-title"><h2>Cadastro </h2></div>

				<div class="form-style form-style-4">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
						<div class="form-inputs clearfix">
							<p>
								<%= f.label :name %>
								<%= f.text_field :name, autofocus: true %>
							</p>

							<p>
								<%= f.label :email %>
								<%= f.text_field :email, autofocus: true %>
							</p>

							<p>
								<%= f.label :password, style:"display:inline" %>
                   <% if @validatable %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                   <% end %>
								<%= f.password_field :password, autocomplete: "off" %>
							</p>

							<p>
								<%= f.label :password_confirmation %>
								<%= f.password_field :password_confirmation, autocomplete: "off" %>
							</p>

							


						</div>
						<p class="form-submit">
							<input type="submit" value="Registrar" class="button color small login-submit submit">
						</p>
					<% end %>
				</div>
			</div><!-- End page-content -->
		</div><!-- End main -->
		<aside class="col-md-3 sidebar">

			<div class="widget">
				<h3 class="widget_title">Precisa de ajuda?</h3>
				<p>Leia a nossa seção de <a href="#">Perguntas Mais Frequentes</a> caso possua alguma dúvida sobre a plataforma.</p>
			</div>

		</aside><!-- End sidebar -->
	</div><!-- End row -->
</section><!-- End container -->
