<header id="header">
	<section class="container clearfix">

		<nav class="navigation">
			<div class="col-xs-12 col-sm-2 col-md-3">

				<div class="logo hidden-xs hidden-sm" >
					<%= link_to root_path, class: "navbar-brand", style: "margin-top:5px" do %>
						<img src="/images/logo.png" style="margin: 0 auto; max-width: 170px;" />
					<% end %>
				</div>

				<div class="logo hidden-xs visible-sm hidden-md hidden-lg" >
					<%= link_to root_path, class: "navbar-brand", style: "margin-top:1px" do %>
						<img src="/images/logo.png" style="margin: 0 auto; max-width: 170px;" />
					<% end %>
				</div>

				<div class="logo visible-xs hidden-sm hidden-md hidden-lg" >
					<%= link_to root_path, style: "margin-top:5px; display:block;" do %>
						<img src="/images/logo.png" style="width: 170px;" />
					<% end %>
				</div>
			</div>

			<div class="col-xs-12 col-sm-5 col-md-5" >

				<%= form_tag search_path, method: :get do %>
				  <%= text_field_tag :search_term, nil, placeholder: "Procurar", value: params[:search_term] %>
				<% end %>
			</div>

			<ul class="col-xs-12 col-sm-5 col-md-4">
					<% if user_signed_in? %>
						<li id="hide-chevron" style="margin-left: 8px">
							<%= link_to "" do %>
								<%= notifications.size %> <i class="icon-bell-alt"></i>
							<% end %>



							<ul class="notifications_center" style="height: 240px; overflow: auto;">
								<% notifications.reverse.each do |notification| %>
									<li style="height: 60px;" >
										<%= link_to clear_notification_path(notification), method: :post do %>
											<%= image_tag notification.get_avatar_user, :class => "img-circle"%>
											<%= notification.message %>
										<% end %>
									</li>
								<% end %>
							</ul>
						</li>

						<li><%= link_to current_user.name, user_path(current_user) %></a>
							<ul>

								<li><%= link_to "Perfil", user_path(current_user) %></li>
								<li><%= link_to "Configurações", edit_user_path(current_user) %></li>
								<li><%= link_to "Sair", destroy_user_session_path, :method => 'get' %></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Registre-se", new_user_registration_path %></li>
						<li><%= link_to "Entrar", new_user_session_path %></li>
					<% end %>

					<li class="current_page_item">
						<%= link_to "Tire sua dúvida", new_question_path %>
					</li>
				</ul>
		</nav>
	</section><!-- End container -->
</header><!-- End of header -->
