<header id="header">
	<section class="container clearfix">

		<nav class="navigation">
			<ul>
				<div class="logo" >
					<%= link_to t("app_name"), root_path, class: "navbar-brand", style: "margin-top:15px" %>
				</div>

				<li style="margin-left: 20px">
					<%= form_tag search_path, method: :get do %>
					  <%= text_field_tag :search_term, nil, placeholder: "Procurar", style: "width: 440px" %>
					<% end %>
				</li>

				<% if user_signed_in? %>

				<li id="hide-chevron" style="margin-left: 8px"><a href="index.html">2 <i class="icon-bell-alt"></i></a>
					<ul style="width: 400px">
						<li><a href="index.html" ><img  class="img-circle" src="http://lorempixel.com/60/60/people/" alt="admin">Sua dúvida sobre Física foi respondida.</a></li>
							<li><a href="index.html" ><img  class="img-circle" src="http://lorempixel.com/60/60/people/" alt="admin">Sua dúvida sobre Matemática foi respondida.</a></li>
							<li><a href="index_2.html"><img class="img-circle" src="http://lorempixel.com/60/60/people/" alt="admin">Sua dúvida sobre Química foi respondida.</a></li>

					</ul>
				</li>

				<li><%= link_to current_user.name, user_path(current_user) %></a>
					<ul>
						<li>
							<%= link_to user_path(current_user) do %>
								<p>Perfil</p>
							<% end %>
						</li>
						<li><%= link_to edit_user_path(current_user) do %>
									<p>Configurações</p>
								<% end %>
						</li>
						<li><%= link_to destroy_user_session_path, method: :delete do %>
									<p>Sair</p>
								<% end %>
						</li>

					</ul>
				</li>

				<% else %>

				<li><%= link_to "Registre-se", new_user_registration_path %></li>
				<li><%= link_to "Entrar", new_user_session_path %></li>

				<% end %>

				<li class="current_page_item">
					<%= link_to "Tire sua dúvida", new_question_path %>
				</li>

			</ul>
		</nav>
	</section><!-- End container -->
</header><!-- End of header -->
