<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t("app_name"), root_path, class: "navbar-brand" %>
    </div>

    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to t("about"), about_path %></li>
        <li><%= link_to "Disciplinas", disciplines_path %></li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group" data-ng-controller="SearchController" data-ng-submit="performSearch(searchInfo)">
          <input type="text" data-ng-model="searchInfo.term" class="form-control" style="width: 400px" placeholder="<%= t "search" %>">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Fazer pergunta", new_question_path, class: "btn" %></li>
        <li><%= link_to "Ajuda", help_path %></li>
        <li class="dropdown">
          <% if user_signed_in? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
          <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Entre <span class="caret"></span></a>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <% if user_signed_in? %>
                <li><%= link_to "Sair", destroy_user_session_url, method: :delete %></li>
              <% else %>
                <li><a href="#">One more separated link</a></li>
              <% end %>
            <% else %>
              <li><%= link_to "Entrar", new_user_session_path %></li>
              <li> <%= link_to "Fazer cadastro", new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
