<div id="wrap" class="grid_1200">
  <div class="breadcrumbs">
    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Sobre o Vestibuleiro</h1>
        </div>
        <div class="col-md-12">
          <div class="crumbs">
            <%= link_to 'Home', root_path %>
            <span class="crumbs-span">/</span>
            <span class="current"><%= link_to 'Sobre o Vestibuleiro', about_path %></span>
          </div>
        </div>
      </div><!-- End row -->
    </section><!-- End container -->
  </div><!-- End breadcrumbs -->

  <section class="container main-content">

	<div class="row">
		<div class="col-md-12">

			<h1 style="font: 300 36px 'Open Sans'; margin: 20px 0px">A maneira mais rápida e confiável de resolver a sua dúvida.</h1>

			<p style="line-height: 28px;">
				Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
			</p>

			  <p>
				Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
			  </p>

			<h2 style="border-top: solid 1px #E1DEDE; padding-top: 40px;text-align: center; margin: 40px 0px 40px 0px; font: 500 33px 'Open Sans';">Quem faz o Vestibuleiro</h2>

<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/rafael.jpg", alt: "Rafael Gouveia", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Rafael Gouveia</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/rodrigo.jpg", alt: "Rodrigo Alves", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Rodrigo Alves</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/tomer.jpg", alt: "Tomer Simis", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Tomer Simis</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/tiago.jpg", alt: "Tiago Nogueira", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Tiago Nogueira</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/samuel.jpg", alt: "Samuel Paz", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Samuel Paz</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/guilherme.jpg", alt: "Guilherme Tavares", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Guilherme Tavares</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/marlon.jpg", alt: "Marlon Reghert", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Marlon Reghert</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/artur.jpg", alt: "Artur Montenegro", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Artur Montenegro</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Bruno Dutra", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Bruno Dutra</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Rodolfo José", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Rodolfo José</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Hugo Freire", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Hugo Freire</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Ângelo de Sant'Ana", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Ângelo de Sant'Ana</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Danilo Dias", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Danilo Dias</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Aglaupy Guaraná", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Aglaupy Guaraná</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Sarah Rayssa", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Sarah Rayssa</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Priscilla Cabral", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Priscilla Cabral</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <%= image_tag "team/default.gif", alt: "Rayane Ferreira", class: "img-circle" %>

      <div class="caption">
        <h3 class="text-center">Rayane Ferreira</h3>
      </div>
    </div>



</div>


</div>

		</div>
	</div>

  </section><!-- End container -->


</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>
  <div class="row">
    <div class="col-md-8">

      <section class="comments-question">

      </section>

      <section class="answers-content">
  
      </section>
    </div>
  </div>

  <script type="text/javascript">
      function upvote(id)
      {
        id = id.split("#")[0];
          $.ajax({
            type: "GET",
            dataType: "json",
            data: {_id: id},
            url: "/questions/"+ id +"/upvote",
            success: function(data){
              console.log(data);
              if(data.sucess) {
                var a = document.getElementById(id+"#upvote");
                a.innerHTML = data.upvotes + " <i class=\"icon-thumbs-up\"> </i>"
              }
            },
            error: function(data) {
              window.location = "/login";
            }
        });
      }

      function downvote(id)
      {
        id = id.split("#")[0];
          $.ajax({
            type: "GET",
            dataType: "json",
            data: {_id: id},
            url: "/questions/"+ id +"/downvote",
            success: function(data){
              console.log(data);
              if(data.sucess) {
                var a = document.getElementById(id+"#downvote");
                a.innerHTML = data.downvotes + " <i class=\"icon-thumbs-down\"> </i>"
              }
            },
            error: function(data) {
              window.location = "/login";
            }
        });
      }
  </script>
